<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/stylecart.css" type="text/css">
	<title>CART</title>
</head>
<body>
<form action=".php">
  <div class="container">
    <h1>Админка</h1>
    <hr>
    <div class="flex-container">
    <label for="user"><b>Номер заказа  </b></label><br>
    <input type="price" placeholder="#768" name="price" disabled>
    <label for="user"><b>Покупатель  </b></label><br>
    <input type="price" placeholder="Sgendry" name="price" disabled>
    </div>
    
    <div class="flex-container">

    <label for="name"><b>Spiderman #342 (Special edition)</b></label>
    

    <label for="price"><b>Цена</b></label><br>
    <input type="price" placeholder="399 рублей" name="price" disabled>

    <label for="count"><b>Количество</b></label><br>
    <input type="count" placeholder="4 шт." name="count" disabled>

    <label for=""><b>Сумма</b></label><br>
    <input type="password" placeholder="1596 рублей" name="psw-repeat" disabled>
    </div>
    <hr>
  </div>
  <hr>
    <div class="flex-container">
    <label for="user"><b>Номер заказа  </b></label><br>
    <input type="price" placeholder="#768" name="price" disabled>
    <label for="user"><b>Покупатель  </b></label><br>
    <input type="price" placeholder="Sgendry" name="price" disabled><br>
    </div>
    <div class="flex-container">

    <label for="name"><b>Spiderman #342 (Special edition)</b></label>
    

    <label for="price"><b>Цена</b></label><br>
    <input type="price" placeholder="399 рублей" name="price" disabled>

    <label for="count"><b>Количество</b></label><br>
    <input type="count" placeholder="4 шт." name="count" disabled>

    <label for=""><b>Сумма</b></label><br>
    <input type="password" placeholder="1596 рублей" name="psw-repeat" disabled>
  
    </div>
    <hr>
  </div>
</body>
</html>