<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/stylecart.css" type="text/css">
<title>CART</title>
</head>
<body>
<form action=".php">
<div class="container">
<h1>Личный кабинет</h1>
<hr>
<div class="login">
Логин: <не меняется>
<hr>
<br><br>
Старый пароль: <br>
<input type="password" name="password"><br>
Новый пароль: <br>
<input type="password" name="password"><br>
<input type="submit" value="Сменить пароль"><br><br>
<hr>
<input type="submit" value="Подтвердить">
<input type="reset" value="Сброс">
</div>
</form>
</div>
</body>
</html>